@import "utility/variables.scss";

/* Header Style */
/* Blog Posts */
/* Sidebar */
/* Footer */
/* Contact Form */
/* About Us */
/* Responsive Style */

@-webkit-keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	5% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}
@keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	5% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

body {
	font-family: $Roboto_Font_Family;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p {
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: 400;
	color: $Boulder;
	line-height: 30px;
}
a {
	text-decoration: none;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
h1 {
	margin: 0px;
}
h2 {
	margin: 0px;
}
h3 {
	margin: 0px;
}
h4 {
	margin: 0px;
}
h5 {
	margin: 0px;
}
h6 {
	margin: 0px;
}
#preloader {
	overflow: hidden;
	background: $Jaffa;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 9999999;
	color: $White;
	.jumper {
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		position: absolute;
		margin: auto;
		width: 50px;
		height: 50px;
		>div {
			background-color: $White;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			position: absolute;
			opacity: 0;
			width: 50px;
			height: 50px;
			-webkit-animation: jumper 1s 0s linear infinite;
			animation: jumper 1s 0s linear infinite;
			&:nth-child(2) {
				-webkit-animation-delay: 0.33333s;
				animation-delay: 0.33333s;
			}
			&:nth-child(3) {
				-webkit-animation-delay: 0.66666s;
				animation-delay: 0.66666s;
			}
		}
	}
}

// error page second 404

#notfound {
	position: relative;
	height: 100vh;
	.notfound {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
.notfound {
	max-width: 520px;
	width: 100%;
	line-height: 1.4;
	text-align: center;
	.notfound-404 {
		position: relative;
		height: 200px;
		margin: 0px auto 20px;
		z-index: -1;
		h1 {
			font-family: $Montserrat;
			font-size: 236px;
			font-weight: 200;
			margin: 0px;
			color: $Cocoa_Brown;
			text-transform: uppercase;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		h2 {
			font-family: $Montserrat;
			font-size: 28px;
			font-weight: 400;
			text-transform: uppercase;
			color: $Cocoa_Brown;
			background: #fff;
			padding: 10px 5px;
			margin: auto;
			display: inline-block;
			position: absolute;
			bottom: 0px;
			left: 0;
			right: 0;
		}
	}
	a {
		font-family: $Montserrat;
		display: inline-block;
		font-weight: 700;
		text-decoration: none;
		color: $White;
		text-transform: uppercase;
		padding: 13px 23px;
		background: $Jaffa;
		font-size: 18px;
		-webkit-transition: 0.2s all;
		transition: 0.2s all;
		&:hover {
			color: $Jaffa;
			background: #fff;
		}
	}
}
@media only screen and (max-width: 767px) {
	.notfound {
		.notfound-404 {
			h1 {
				font-size: 148px;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	.notfound {
		.notfound-404 {
			height: 148px;
			margin: 0px auto 10px;
			h1 {
				font-size: 86px;
			}
			h2 {
				font-size: 16px;
			}
		}
		a {
			padding: 7px 15px;
			font-size: 14px;
		}
	}
}


