{% import '@astonish/custom/macros/footer.twig' as footerMacro %}
{{ attach_library('astonish/component-footer-styling') }}

<footer>
  <div class="container">
    {{ footerMacro.footer('row', page.footer) }}
  </div>
  <div class="col-lg-12">
    <div class="copyright-text">
      <p>Copyright 2022 Astonish.        
        | Design: <a rel="nofollow" href="#" target="_parent">Astonish</a></p>
    </div>
  </div>
</footer>