{{ attach_library('astonish/component-header-styling') }}

<!-- ***** Preloader Start ***** -->
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>  
<!-- ***** Preloader End ***** -->


<!-- Header -->
<header class="">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      {{  page.branding  }}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        {{  page.navigation  }}
      </div>
    </div>
  </nav>
</header>