@import "../../utility/variables.scss";

.sidebar {
	margin-left: 30px;
	.sidebar-item {
		margin-top: 50px;
	}
	.search {
		margin-top: 0px;
		input {
			width: 100%;
			height: 50px;
			border: 1px solid $Gallery;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 500;
			color: $Boulder;
			outline: none;
			padding: 0px 15px;
			&::placeholder {
				color: $Silver_Chalice;
			}
		}
	}

	.recent-posts {
		h2 {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 0.5px;
			color: $Ebony_Clay;
			border-bottom: 1px solid $Gallery;
			padding-bottom: 15px;
			margin-bottom: 25px;
		}
		ul {
			li {
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid $Gallery;
				&:last-child {
					margin-bottom: 0px;
					padding-bottom: 0px;
					border-bottom: none;
				}
				a {
					font-size: 19px;
					font-weight: 900;
					color: $Ebony_Clay;
					line-height: 30px;
					transition: all 0.3s;
					&:hover {
						color: $Jaffa;
					}
				}
				span {
					display: block;
					font-size: 14px;
					color: $Silver_Chalice;
					margin-top: 8px;
				}
			}
		}
	}
	.categories {
		ul {
			li {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0px;
				}
				a {
					font-size: 15px;
					font-weight: 700;
					color: $Ebony_Clay;
					transition: all .3s;
					&:hover {
						color: $Jaffa;
					}
				}
			}
		}
	}
	.tags {
		ul {
			li {
				margin-right: 6px;
				display: inline-block;
				margin-bottom: 10px;
				a {
					font-size: 15px;
					font-weight: 500;
					color: $Silver_Chalice;
					display: inline-block;
					border: 1px solid $Gallery;
					padding: 10px 18px;
					transition: all .3s;
					&:hover {
						background-color: $Jaffa;
						border-color: $Jaffa;
						color: $White;
					}
				}
			}
		}
	}
}
@media (max-width: 992px) {
	.sidebar {
		margin-left: 0px;
		margin-top: 60px;
		padding-top: 60px;
		border-top: 3px solid $Alabaster;
	}
}