@import "../../utility/variables.scss";


footer {
	margin-top: 100px;
	text-align: center;
	background-color: $Ebony_Clay;
	padding: 60px 0px;
	ul.social-icons {
		padding-bottom: 60px;
		margin-bottom: 60px;
		border-bottom: 1px solid rgba(250, 250, 250, 0.149);
		li {
			display: inline-block;
			margin-right: 30px;
			&:after {
				content: "|";
				color: $White;
				margin-left: 30px;
			}
			&:last-child {
				margin-right: 0px;
				&::after {
					display: none;
				}
			}
			a {
				font-size: 14px;
				text-transform: uppercase;
				color: $White;
				font-weight: 500;
				letter-spacing: 0.25px;
				transition: all .3s;
				&:hover {
					color: $Jaffa;
				}
			}
		}
	}
	p {
		font-size: 13px;
		text-transform: uppercase;
		color: $White;
		a {
			color: $Jaffa;
			&:hover {
				color: $Jaffa;
			}
		}
	}
}