/* Header Style */
/* Blog Posts */
/* Sidebar */
/* Footer */
/* Contact Form */
/* About Us */
/* Responsive Style */
@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  5% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  5% {
    opacity: 1; }
  100% {
    opacity: 0; } }

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  color: #7a7a7a;
  line-height: 30px; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

h1 {
  margin: 0px; }

h2 {
  margin: 0px; }

h3 {
  margin: 0px; }

h4 {
  margin: 0px; }

h5 {
  margin: 0px; }

h6 {
  margin: 0px; }

#preloader {
  overflow: hidden;
  background: #f48840;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff; }
  #preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px; }
    #preloader .jumper > div {
      background-color: #fff;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      position: absolute;
      opacity: 0;
      width: 50px;
      height: 50px;
      -webkit-animation: jumper 1s 0s linear infinite;
      animation: jumper 1s 0s linear infinite; }
      #preloader .jumper > div:nth-child(2) {
        -webkit-animation-delay: 0.33333s;
        animation-delay: 0.33333s; }
      #preloader .jumper > div:nth-child(3) {
        -webkit-animation-delay: 0.66666s;
        animation-delay: 0.66666s; }

#notfound {
  position: relative;
  height: 100vh; }
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center; }
  .notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1; }
    .notfound .notfound-404 h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 236px;
      font-weight: 200;
      margin: 0px;
      color: #211b19;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .notfound .notfound-404 h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      color: #211b19;
      background: #fff;
      padding: 10px 5px;
      margin: auto;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0; }
  .notfound a {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #f48840;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all; }
    .notfound a:hover {
      color: #f48840;
      background: #fff; }

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px; } }

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px; }
    .notfound .notfound-404 h1 {
      font-size: 86px; }
    .notfound .notfound-404 h2 {
      font-size: 16px; }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
