footer {
  margin-top: 100px;
  text-align: center;
  background-color: #20232e;
  padding: 60px 0px; }
  footer ul.social-icons {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.149); }
    footer ul.social-icons li {
      display: inline-block;
      margin-right: 30px; }
      footer ul.social-icons li:after {
        content: "|";
        color: #fff;
        margin-left: 30px; }
      footer ul.social-icons li:last-child {
        margin-right: 0px; }
        footer ul.social-icons li:last-child::after {
          display: none; }
      footer ul.social-icons li a {
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.25px;
        -webkit-transition: all .3s;
        transition: all .3s; }
        footer ul.social-icons li a:hover {
          color: #f48840; }
  footer p {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff; }
    footer p a {
      color: #f48840; }
      footer p a:hover {
        color: #f48840; }

/*# sourceMappingURL=footer.css.map */
