{# 
 * This is macros
 #}


{% macro articlepost(data, view_mode) %}
  <div{{ data.attributes.addClass(['blog-post']) }}>
    
    <div{{ data.attributes.addClass(['down-content']) }}>
      {% if view_mode == 'astonish_article_posts' %}
        {% if data.content.field_image %}
          {{ data.content.field_image }}
        {% endif %}
      {% endif %}
      
      {{ data.title_prefix }}
      {% if data.title %}
        <a href="{{ data.content_url }}" rel="bookmark">
            <h4{{ title_attributes }}> {{ data.title }} </h4>
        </a>
      {% endif %}
      {{ data.title_suffix }}  
      
      {% if view_mode == 'astonish_article_posts' %}
        {% if data.content.body %}
          {{ data.content.body }}
        {% endif %}

        {% if data.content.field_tags %}
          {{ data.content.field_tags }}
        {% endif %}
      {% endif %}

      {% if view_mode == 'full' %}
        {% if data.display_submitted %}
          <footer>
            {{ data.author_picture }}
            <div{{ data.author_attributes.addClass('post-info') }}>
              {% trans %}Submitted by {{ data.author_name }} on {{ data.date }}{% endtrans %}
              {{ data.metadata }}
            </div>
          </footer>
        {% endif %}
        {{ data.content }}
      {% endif %}

    </div>

  </div>
{% endmacro %}
