@import "../../utility/variables.scss";

.blog-posts {
	padding-top: 100px;
	.blog-post {
		margin-bottom: 30px;
	}
	.blog-thumb {
		img {
			width: 100%;
			overflow: hidden;
		}
	}
	.down-content {
		padding: 40px;
		border-right: 1px solid $Gallery;
		border-left: 1px solid $Gallery;
		border-bottom: 1px solid $Gallery;
		span {
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			font-weight: 900;
			color: $Jaffa;
		}
		h4 {
			font-size: 24px;
			text-transform: capitalize;
			letter-spacing: 0.5px;
			font-weight: 900;
			color: $Ebony_Clay;
			margin: 10px 0px 12px 0px;
			font-size: 20px;
			letter-spacing: 0.25px;
		}
		ul.post-info {
			li {
				display: inline-block;
				margin-right: 8px;
				&:after {
					content: '|';
					color: $Silver_Chalice;
					margin-left: 8px;
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
				a {
					font-size: 14px;
					color: $Silver_Chalice;
					font-weight: 400;
					transition: all .3s;
					&:hover {
						color: $Jaffa;
					}
				}
			}
		}
		p {
			padding: 25px 0px;
			margin: 25px 0px;
			border-top: 1px solid $Gallery;
			border-bottom: 1px solid $Gallery;
		}
		ul.post-share {
			text-align: right;
			li {
				display: inline-block;
				color: $Silver_Chalice;
				&:first-child {
					i {
						color: $Jaffa;
						margin-right: 5px;
					}
				}
				a {
					font-size: 14px;
					color: $Silver_Chalice;
					font-weight: 400;
					transition: all .3s;
					&:hover {
						color: $Jaffa;
					}
				}
			}
		}
		ul.post-tags {
			li {
				display: inline-block;
				color: $Silver_Chalice;
				&:first-child {
					i {
						color: $Jaffa;
						margin-right: 5px;
					}
				}
				a {
					font-size: 14px;
					color: $Silver_Chalice;
					font-weight: 400;
					transition: all .3s;
					&:hover {
						color: $Jaffa;
					}
				}
			}
		}
	}
	.main-button {
		display: inline-block;
		background-color: $Alabaster;
		color: $Boulder;
		font-size: 13px;
		font-weight: 500;
		padding: 12px 20px;
		text-transform: uppercase;
		transition: all .3s;
		border: 1px solid $Gallery;
		outline: none;
		&:hover {
			background-color: $Jaffa;
		}
	}
	.sidebar-heading {
		h2 {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 0.5px;
			color: $Ebony_Clay;
			border-bottom: 1px solid $Gallery;
			padding-bottom: 15px;
			margin-bottom: 25px;
		}
	}
	.comments {
		margin-top: 30px;
		ul {
			li {
				display: inline-block;
				margin-bottom: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid $Gallery;
				&:last-child {
					margin-bottom: 0px;
					padding-bottom: 0px;
					border-bottom: none;
				}
				.author-thumb {
					display: inline;
					float: left;
					img {
						max-width: 100px;
						display: inline;
					}
				}
				.right-content {
					margin-left: 130px;
					h4 {
						color: $Ebony_Clay;
						font-size: 19px;
						font-weight: 900;
						letter-spacing: 0.5px;
						span {
							font-size: 14px;
							color: $Silver_Chalice;
							font-weight: 400;
							letter-spacing: 0.25px;
							margin-left: 20px;
						}
					}
				}
			}
			li.replied {
				padding-left: 130px;
			}
		}
	}
	.submit-comment {
		margin-top: 60px;
		input {
			width: 100%;
			height: 46px;
			border: 1px solid $Gallery;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 500;
			color: $Boulder;
			outline: none;
			padding: 0px 15px;
			margin-bottom: 30px;
			&::placeholder {
				color: $Silver_Chalice;
			}
		}
		textarea {
			width: 100%;
			height: 46px;
			border: 1px solid $Gallery;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 500;
			color: $Boulder;
			outline: none;
			padding: 10px 15px;
			margin-bottom: 30px;
			height: 180px;
			max-height: 220px;
			max-width: 100%;
			min-width: 160px;
			&::placeholder {
				color: $Silver_Chalice;
			}
		}
		button {
			display: inline-block;
			background-color: $Jaffa;
			color: $White;
			font-size: 13px;
			font-weight: 500;
			padding: 12px 20px;
			text-transform: uppercase;
			transition: all .3s;
			border: none;
			outline: none;
			&:hover {
				background-color: $Tan_Hide;
			}
		}
	}
}
.grid-system {
	.down-content {
		ul.post-info {
			li {
				margin-right: 3px;
				&:after {
					margin-left: 5px;
				}
			}
		}
	}
}

ul.page-numbers {
	text-align: center;
	li {
		display: inline-block;
		margin: 0px 5px;
		a {
			width: 50px;
			height: 50px;
			display: inline-block;
			text-align: center;
			line-height: 50px;
			font-size: 15px;
			color: $Boulder;
			border: 1px solid $Gallery;
			font-weight: 500;
			transition: all 0.3s;
			&:hover {
				color: $Jaffa;
			}
		}
	}
	li.active {
		a {
			background-color: $Jaffa;
			border-color: $Jaffa;
			color: $White;
		}
	}
}