$Black: #000000;
$Gallery: #eeeeee;
$Boulder: #7a7a7a;
$White: #fff;
$Cod_Gray: #121212;
$Jaffa: #f48840;
$Ebony_Clay: #20232e;
$Silver_Chalice: #aaa;
$Roboto_Font_Family: 'Roboto', sans-serif;
$FontAwesome_Font_Family: 'FontAwesome';
$Montserrat: 'Montserrat', sans-serif;
$Alabaster: #f7f7f7;
$Tan_Hide: #fb9857;
$Ebony_Clay: #20232e;
$Cocoa_Brown: #211b19;