.sidebar {
  margin-left: 30px; }
  .sidebar .sidebar-item {
    margin-top: 50px; }
  .sidebar .search {
    margin-top: 0px; }
    .sidebar .search input {
      width: 100%;
      height: 50px;
      border: 1px solid #eeeeee;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      color: #7a7a7a;
      outline: none;
      padding: 0px 15px; }
      .sidebar .search input::-webkit-input-placeholder {
        color: #aaa; }
      .sidebar .search input::-moz-placeholder {
        color: #aaa; }
      .sidebar .search input:-ms-input-placeholder {
        color: #aaa; }
      .sidebar .search input::-ms-input-placeholder {
        color: #aaa; }
      .sidebar .search input::placeholder {
        color: #aaa; }
  .sidebar .recent-posts h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #20232e;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    margin-bottom: 25px; }
  .sidebar .recent-posts ul li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee; }
    .sidebar .recent-posts ul li:last-child {
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: none; }
    .sidebar .recent-posts ul li a {
      font-size: 19px;
      font-weight: 900;
      color: #20232e;
      line-height: 30px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .sidebar .recent-posts ul li a:hover {
        color: #f48840; }
    .sidebar .recent-posts ul li span {
      display: block;
      font-size: 14px;
      color: #aaa;
      margin-top: 8px; }
  .sidebar .categories ul li {
    margin-bottom: 15px; }
    .sidebar .categories ul li:last-child {
      margin-bottom: 0px; }
    .sidebar .categories ul li a {
      font-size: 15px;
      font-weight: 700;
      color: #20232e;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .sidebar .categories ul li a:hover {
        color: #f48840; }
  .sidebar .tags ul li {
    margin-right: 6px;
    display: inline-block;
    margin-bottom: 10px; }
    .sidebar .tags ul li a {
      font-size: 15px;
      font-weight: 500;
      color: #aaa;
      display: inline-block;
      border: 1px solid #eeeeee;
      padding: 10px 18px;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .sidebar .tags ul li a:hover {
        background-color: #f48840;
        border-color: #f48840;
        color: #fff; }

@media (max-width: 992px) {
  .sidebar {
    margin-left: 0px;
    margin-top: 60px;
    padding-top: 60px;
    border-top: 3px solid #f7f7f7; } }

/*# sourceMappingURL=sidebar.css.map */
