header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100px;
  background-color: #f7f7f7;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  header .navbar {
    padding: 25px 0px; }

.background-header {
  top: 0;
  height: 80px;
  position: fixed;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); }
  .background-header .navbar {
    padding: 17px 0px; }
  .background-header .navbar-brand a {
    color: #121212; }
  .background-header .navbar-nav a.nav-link {
    color: #121212; }
  .background-header .navbar-nav .nav-link:hover {
    color: #f48840; }
  .background-header .navbar-nav .active > .nav-link {
    color: #f48840; }
  .background-header .navbar-nav .nav-link.active {
    color: #f48840; }
  .background-header .navbar-nav .nav-link.show {
    color: #f48840; }
  .background-header .navbar-nav .show > .nav-link {
    color: #f48840; }

.navbar .navbar-brand {
  float: left;
  margin-top: -12px;
  outline: none; }
  .navbar .navbar-brand a {
    color: #121212;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s; }
    .navbar .navbar-brand a em {
      font-size: 44px;
      font-style: normal;
      color: #f48840; }

.navbar .navbar-nav .nav-item {
  margin: 0px 15px; }

.navbar .navbar-nav a.nav-link {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #121212;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.navbar .navbar-nav .nav-link:hover {
  color: #f48840; }

.navbar .navbar-nav .active > .nav-link {
  color: #f48840; }

.navbar .navbar-nav .nav-link.active {
  color: #f48840; }

.navbar .navbar-nav .nav-link.show {
  color: #f48840; }

.navbar .navbar-nav .show > .nav-link {
  color: #f48840; }

.navbar .navbar-toggler-icon {
  background-image: none; }
  .navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-family: "FontAwesome"; }

.navbar .navbar-toggler {
  border-color: #fff;
  background-color: #f48840;
  height: 46px;
  outline: none;
  border-radius: 0px;
  position: absolute;
  right: 30px;
  top: 25px; }

#navbarSupportedContent {
  z-index: 999; }

.navbar-collapse {
  text-align: center; }

@media (max-width: 992px) {
  .navbar .navbar-brand {
    position: absolute;
    left: 30px;
    top: 25px;
    width: auto; }
  .navbar:after {
    display: none; }
  .navbar .navbar-nav .nav-item {
    border-bottom: 1px solid #eeeeee; }
    .navbar .navbar-nav .nav-item:last-child {
      border-bottom: none; }
  .navbar .navbar-nav a.nav-link {
    padding: 15px 0px;
    color: #121212; }
  .navbar .navbar-nav .nav-link:hover {
    color: #f48840;
    border-bottom: none;
    padding-bottom: 15px; }
  .navbar .navbar-nav .active > .nav-link {
    color: #f48840;
    border-bottom: none;
    padding-bottom: 15px; }
  .navbar .navbar-nav .nav-link.active {
    color: #f48840;
    border-bottom: none;
    padding-bottom: 15px; }
  .navbar .navbar-nav .nav-link.show {
    color: #f48840;
    border-bottom: none;
    padding-bottom: 15px; }
  .navbar .navbar-nav .show > .nav-link {
    color: #f48840;
    border-bottom: none;
    padding-bottom: 15px; }
  .background-header .navbar-brand {
    top: 15px; }
  .background-header .navbar-toggler {
    top: 15px; }
  #navbarSupportedContent {
    z-index: 99999;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); }
  .contact-us .contact-information {
    margin-left: 0px;
    margin-top: 60px; } }

/*# sourceMappingURL=header.css.map */
