{% set header = '@astonish/custom/includes/header.html.twig' %}
{% set footer = '@astonish/custom/includes/footer.html.twig' %}


{% include header %}


<div class="container py-5">
  <div class="row">
    <div class="col-md-2 text-center">
      <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
    </div>
    <div class="col-md-10">
      <h3>OPPSSS!!!! Sorry...</h3>
      <p>{{ astonish.content_403|raw }}</p>
      <a class="btn btn-danger" href="#">Go Back</a>
    </div>
  </div>
</div>

{% include footer %}