{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.branding: Items for the site branding region.
 * - page.navigation: Items for the main navigation menu region.
 * - page.featured: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set header = '@astonish/custom/includes/header.html.twig' %}
{% set footer = '@astonish/custom/includes/footer.html.twig' %}


{% include header %}

{{ attach_library('astonish/component-maincontent-styling') }}
{{ attach_library('astonish/component-sidebar-styling') }}


<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text">
  {{  page.featured  }}
</div>
<!-- Banner Ends Here -->

<section class="blog-posts">
  <div class="container">
    <div class="row">
  
    {% if page.sidebar %}
      {% set content_col = '8' %}
      <div class="col-lg-{{ content_col }}">
        {{  page.content  }}
      </div>

      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">

            <div class="col-lg-12">
              {{  page.sidebar  }}
            </div>

          </div>
        </div>
      </div>
    {% else %}
      {% set content_col = '12' %}

      <div class="col-lg-{{ content_col }}">
        {{  page.content  }}
      </div>
    {% endif %}

    </div>
  </div>
</section>

    
{% include footer %}


