{% set header = '@astonish/custom/includes/header.html.twig' %}
{% set footer = '@astonish/custom/includes/footer.html.twig' %}


{% include header %}


<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>Oops!</h1>
      <h2>{{ astonish.content_404|raw }}</h2>
    </div>
    <a href="{{ url }}">{{ 'Go TO Homepage'|t }}</a>
  </div>
</div>

{% include footer %}
