@import "../../utility/variables.scss";

header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 100px;
	background-color: $Alabaster;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	.navbar {
		padding: 25px 0px;
	}
}
.background-header {
	.navbar {
		padding: 17px 0px;
	}
	top: 0;
	height: 80px;
	position: fixed;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
	.navbar-brand {
		a {
			color: $Cod_Gray;
		}
	}
	.navbar-nav {
		a.nav-link {
			color: $Cod_Gray;
		}
		.nav-link {
			&:hover {
				color: $Jaffa;
			}
		}
		.active {
			>.nav-link {
				color: $Jaffa;
			}
		}
		.nav-link.active {
			color: $Jaffa;
		}
		.nav-link.show {
			color: $Jaffa;
		}
		.show {
			>.nav-link {
				color: $Jaffa;
			}
		}
	}
}
.navbar {
	.navbar-brand {
		float: left;
		margin-top: -12px;
		outline: none;
		a {
			color: $Cod_Gray;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 900;
			-webkit-transition: all .3s ease 0s;
			-moz-transition: all .3s ease 0s;
			-o-transition: all .3s ease 0s;
			transition: all .3s ease 0s;
			em {
				font-size: 44px;
				font-style: normal;
				color: $Jaffa;
			}
		}
	}
	.navbar-nav {
		.nav-item {
			margin: 0px 15px;
		}
		a.nav-link {
			text-transform: capitalize;
			font-size: 15px;
			font-weight: 800;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			color: $Cod_Gray;
			transition: all 0.3s;
		}
		.nav-link {
			&:hover {
				color: $Jaffa;
			}
		}
		.active {
			>.nav-link {
				color: $Jaffa;
			}
		}
		.nav-link.active {
			color: $Jaffa;
		}
		.nav-link.show {
			color: $Jaffa;
		}
		.show {
			>.nav-link {
				color: $Jaffa;
			}
		}
	}
	.navbar-toggler-icon {
		background-image: none;
		&:after {
			content: '\f0c9';
			color: $White;
			font-size: 18px;
			line-height: 30px;
			font-family: $FontAwesome_Font_Family;
		}
	}
	.navbar-toggler {
		border-color: $White;
		background-color: $Jaffa;
		height: 46px;
		outline: none;
		border-radius: 0px;
		position: absolute;
		right: 30px;
		top: 25px;
	}
}
#navbarSupportedContent {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}

@media (max-width: 992px) {
	.navbar {
		.navbar-brand {
			position: absolute;
			left: 30px;
			top: 25px;
			width: auto;
		}
		&:after {
			display: none;
		}
		.navbar-nav {
			.nav-item {
				border-bottom: 1px solid $Gallery;
				&:last-child {
					border-bottom: none;
				}
			}
			a.nav-link {
				padding: 15px 0px;
				color: $Cod_Gray;
			}
			.nav-link {
				&:hover {
					color: $Jaffa;
					border-bottom: none;
					padding-bottom: 15px;
				}
			}
			.active {
				>.nav-link {
					color: $Jaffa;
					border-bottom: none;
					padding-bottom: 15px;
				}
			}
			.nav-link.active {
				color: $Jaffa;
				border-bottom: none;
				padding-bottom: 15px;
			}
			.nav-link.show {
				color: $Jaffa;
				border-bottom: none;
				padding-bottom: 15px;
			}
			.show {
				>.nav-link {
					color: $Jaffa;
					border-bottom: none;
					padding-bottom: 15px;
				}
			}
		}
	}
	.background-header {
		.navbar-brand {
			top: 15px;
		}
		.navbar-toggler {
			top: 15px;
		}
	}
	#navbarSupportedContent {
		z-index: 99999;
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		text-align: center;
		background-color: $White;
		box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	
	.contact-us {
		.contact-information {
			margin-left: 0px;
			margin-top: 60px;
		}
	}
}
